*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
width: 100%;
 background-color: rgb(1, 1, 97);
 padding: 20px 20px 20px 20px;
 position: fixed;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header nav ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.hero{
    background-image: url("images/background.jpg");
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    background-color: beige;
    border-radius: 20px;
    width: 200px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.card{
    background-color: #38c5e9;
    padding: 20px;
    width: 250px;
    box-shadow: -5px -5px 10px gray ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}
.card h2{
    color: white;
    font-size: 30px;
}
.card p {
    color: rgb(1, 1, 97);
    font-weight: 600;
    font-size: 18px;
}
.card i {
    font-size: 40px;
    margin : 5px;
    color: rgb(1, 1, 97);
}
footer{
    background-color: rgb(1, 1, 97);
    width: 100%;
   padding: 20px ;
   display: flex;
   justify-content: center;
   color: white;
}

@media (max-width:768px){
    .hero{
        height:70vh;
    }
    .card-section{
      gap:20px;
    }
}

@media (max-width:480px){
    .hero{
        height:60vh;
    }
}